.resultDiv {
  position: absolute;
  /* background-color: rgb(44, 47, 70); */
  background: white;
  box-shadow: 5px -5px 10px #a6a8a9, -5px 5px 10px #223345;
  width: 40%;
  margin-top: 48px;
  padding: 10px;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: scroll;
  display: none;
  z-index: 10;
  cursor: pointer;
  margin-top: 280px;

}
.searchinput:focus ,
.resultDiv {
  display: block;

}
.result {
  padding: 6px;
}
.result:hover {
  background: rgb(207, 207, 212);
}
.searchicons {
  position: absolute;
  z-index: 10;
  right: 13%;
  margin-top: 10px;
}
